* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Stanley';
  src: url(./resources/stanley.ttf);
}

:root {
  box-sizing: border-box;
  font-family: 'Roboto Slab', serif;
  background-image: url('./resources/bg.avif');
  user-select: none;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  padding: 40px 0 16px 0;
  background-color: rgba(0, 0, 0, .5);
}

.form-container .header {
  color: #ffffff;
  text-align: center;
  margin-bottom: 24px;
  font-family: 'Stanley';
  font-size: 3rem;
  letter-spacing: 2px;
}

.section-container {
  display: flex;
  justify-content: center;
  gap: 80px;
}

.left {
  display: flex;
  flex-direction: column;
}

.right {
  display: flex;
  flex-direction: column;
}

.section {
  display: flex;
  flex-direction: column;
  padding-bottom: 24px;
}

.section label {
  padding-bottom: 4px;
  letter-spacing: 1.5px;
  color: #ffffff;
}

.section span {
  background-color: rgba(0, 0, 0, .5);
  padding: 2px 4px;
}

.section input {
  width: 250px;
  padding: 12px;
  border: solid 2px #000000;
  border-radius: 8px;
}

.section input:focus {
  outline: none;
  border: 2px solid #EE964B;
}

.btn button {
  all: unset;
  margin: 0 auto;
  width: 120px;
  padding: 12px;
  background-color: #687E25;
  color: #000000;
  border: 2px solid #000000;
  border-radius: 8px;
  text-align: center;
}