* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Stanley';
  src: url(./resources/stanley.ttf);
}

:root {
  box-sizing: border-box;
  font-family: 'Roboto Slab', serif;
  background-image: url('./resources/bg.avif');
  background-position: center;
  user-select: none;
  --valid-color: #829E2E;
  --invalid-color: #C3423F;
  --select-color: #F9A620;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex: 1;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-container .header {
  color: #ffffff;
  text-align: center;
  margin-bottom: 24px;
  font-family: 'Stanley';
  font-size: 3rem;
  letter-spacing: 2px;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  width: 100vw;
  padding: 40px 0 16px 0;
  background-color: rgba(0, 0, 0, .5);
}

.section-container {
  display: flex;
  justify-content: center;
  gap: 80px;
}

.left {
  display: flex;
  flex-direction: column;
}

.right {
  display: flex;
  flex-direction: column;
}

.section {
  display: flex;
  flex-direction: column;
  padding-bottom: 24px;
}

.section label {
  padding-bottom: 4px;
  letter-spacing: 1.5px;
  color: #ffffff;
}

.section span {
  background-color: rgba(0, 0, 0, .5);
  padding: 2px 4px;
}

.section input {
  width: 250px;
  padding: 12px;
  border: solid 2px #000000;
  border-radius: 8px;
}

.section input:focus {
  outline: none;
  border: 2px solid var(--select-color);
}

.section input:valid {
  outline: none;
  border: 2px solid var(--valid-color);
}

.section input:not(:placeholder-shown):invalid {
  outline: none;
  border: 2px solid var(--invalid-color);
}

.btn button {
  all: unset;
  margin: 0 auto;
  width: 120px;
  padding: 12px;
  background-color: var(--valid-color);
  color: #000000;
  border: 2px solid #000000;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
}

.btn button:hover {
  background-color: #8FAE32;
}

.btn button:active {
  background-color: #758E29;
}

.footer {
  display: flex;
  justify-content: center;
  padding: 1.2rem 0;
  color: white;
  font-size: 1.2rem;
  background-color: rgba(0, 0, 0, .5);
  width: 100vw;
}

.footer a {
  all: unset;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.footer img {
  height: 24px;
  margin-left: .4rem;
}

@media only screen and (max-width: 736px) {
  .section-container {
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
}

@media only screen and (max-width: 400px) {
  .section input {
    width: 200px;
  }

  .form-container .header {
    font-size: 2.4rem;
    margin-top: 5vh;
  }
}