:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.form-container {
  display: flex;
  gap: 80px;
}

.left {
  display: flex;
  flex-direction: column;
}

.right {
  display: flex;
  flex-direction: column;
}

.section {
  display: flex;
  flex-direction: column;
  padding-bottom: 8px;
}

.section label {
  padding-bottom: 4px;
}